@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.templateContainer {
  @apply container mx-auto px-4 md:px-6 lg:px-10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tenor Sans", serif;
}

.paraDesign {
  text-align: left;
  font-size: 15px;
  word-spacing: 1;
  line-height: 1.6;
  color: #242424;
}

@media (max-width: 600px) {
  .paraDesign {
    text-align: left;
    font-size: 14px;
    word-spacing: 1;
    line-height: 1.6;
    color: #242424;
  }
}
